<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
<style>
h1 {text-align: center;}
p{text-align: center;}
form{text-align: center;}
body {
  background-image: url({{ url_for('static', filename='yao.png') }});
  /* background-size: cover; */
   background-repeat: repeat;


}

</style>
</head>
<body>

	<header>
		<div class="container">
	
			<h1><b><mark>Is this statement sarcastic or not?</mark></b></h1>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
		
	
		
	</div>
	</header>

	<div class="ml-container">

		<form action="{{ url_for('predict')}}" method="POST">
		<p><b><mark>Enter the text you want to check it for?</mark></b></p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="message" rows="6" cols="50"></textarea>
		<br/>

		<input type="submit" class="btn-info" value="Predict">
		
	</form>
		
	</div>

	
	

</body>
</html>